:root {
    --background-color: #F6F5F6;
    --leme-blue: #22425C;
    --leme-red: #E5695B;
    --leme-soft: #DAE6E8;
    --primary-gray: #4B535B;
    --secondary-gray: #787878;
    --divider-gray: #CACBCE;
    --leme-green: #20635D;
    --white: #fff;


    --fs-400-16: 1.6rem;
    --fs-300-13: 1.3rem;
    --fs-500-16: 1.6rem;
    --fs-400-14: 1.4rem;
    --fs-400-22: 2.2rem;
    --fs-400-40: 4rem;

    --font-family: 'Montserrat', sans-serif;

}

::placeholder,
select {
    color: var(--secondary-gray);
    font-size: var(--fs-300-13);
    opacity: 0.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.container {
    max-width: 100%;
    padding: 0 78px 0 88px;
}

@media(max-width: 768px) {
    .container {
       padding: 0px 15px;

    }
}

.container_data {
    display: flex;
    align-items: stretch;

}

@media(max-width: 768px){
    .container_data {
        flex-direction: column;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 20px;
    border-radius: 22px;
    overflow: hidden;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--leme-blue);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-gray);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

select:required:invalid {
    color: var(--secondary-gray);
    opacity: 0.5;
}

.switch_vagas_disponiveis {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-400-14);
    color: var(--secondary-gray);
    text-align: center;
    align-items: center;
    margin-top: -28px;
}